Jinja2==2.6
#Pygments==1.5
SQLAlchemy==0.8.0b2
Twisted==12.3.0
Unidecode==0.04.9
blinker==1.2
distribute==0.6.28
docutils==0.9.1
feedgenerator==1.2.1
git-remote-helpers==0.1.0
logilab-astng==0.24.1
logilab-common==0.61.0
pylint==0.26.0
pytz==2012h
stevedore==0.6
vboxapi==1.0
virtualenv==1.8.2
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
wsgiref==0.1.2
zope.interface==4.0.3
